*.o
**/[Dd]ebug/*
**/[Rr]elease/*
/mcu_down/stm32f207_matthijs/Debug/
/python_gui/__pycache__/
*.bak
*.ini
*.pyc
/mcu_body/Body_MCU_Matthijs/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
/mcu_head/Head_MCU_Matthijs/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
